<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "www-logo.png", alt: "Logo", class: "logo-img" %>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<h1 id="your-cart">Your Cart</h1>
  <% if @order.order_lines.empty? %>
    <p class="empty-cart text-center">Your cart is currently empty...</p>
    <p class="empty-text">You must add some products to your cart before checking out</p>
    <div class="cart">
    <%= image_tag "https://cdn-icons-png.flaticon.com/512/2038/2038854.png", alt: "empty-cart", class: "empty-cart-icon" %>
    </div>
  <% else %>
  <div class="container">
    <ul>
      <% total_price = 0 %>
      <% @order.order_lines.each do |ol| %>
        <li><strong>Food Name: </strong><%= ol.food.name %></li>
        <li>
          <strong>Quantity:</strong>
          <%= link_to "-", order_lines_reduce_path(:id => ol), method: :post %>
          <%= ol.quantity %> <%= link_to "+", order_lines_add_path(:id => ol), method: :post %>

          </li>
        <li><strong>Description: </strong><%= ol.food.description %> </li>
        <li><strong>Price: </strong><%= number_to_currency(ol.food.price * ol.quantity) %></li>
        <% total_price +=  ol.food.price * ol.quantity %>
        <%= link_to "Delete",
                order_lines_path(ol),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class: "continue-btn-positive"
              %>
      <% end %>
      <br>
      <%= link_to "Proceed to checkout",  order_path(@order), class: "continue-btn-positive" %>
    </ul>
  </div>
<% end %>
<div class="continue">
<%= link_to "Continue shopping", restaurants_path, class: "continue-btn-positive" %>
</div>
