<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "www-logo.png", alt: "Logo", class: "logo-img" %>
</div>

<h1 id="your-cart">Your Cart</h1>
  <% if @order.order_lines.empty? %>
    <p class="empty-cart text-center">Your cart is currently empty...</p>
    <p class="empty-text">You must add some products to your cart before checking out</p>
      <div class="cart">
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/2038/2038854.png", alt: "empty-cart", class: "empty-cart-icon" %>
      </div>
  <% else %>
    <div class="cart-item-container">
      <ul>
      <%# add photo %>
        <% total_price = 0 %>
        <% @order.order_lines.each do |ol| %>
        <li>
          <% if ol.food.photo.attached? %>
            <%= cl_image_tag(ol.food.photo.key, width:40, height:40, class: "cart-food", crop: :fill, gravity: :center) %>
          <% end %>
        </li>
          <li class="cart-text"><h6 style="color: #f3844c"><strong>Food Name: </h6></strong><h6 style="color: #789d67"><%= ol.food.name %></h6></li>
          <li class="cart-text"><h6 style="color: #f3844c">
            <strong>Quantity: </h6></strong>
              <%= link_to order_lines_reduce_path(:id => ol), class: "minus", method: :post do %>
                <i class="fa-solid fa-minus"></i>
              <% end %>
              <%= ol.quantity %> <%= link_to order_lines_add_path(:id => ol), class: "plus", method: :post do %>
                <i class="fa-solid fa-plus"></i>
              <% end %>
              </li>
          <li class="cart-text"><h6 style="color: #f3844c"><strong>Description: </h6></strong><%= ol.food.description %> </li>
          <li class="cart-text"><h6 style="color: #f3844c"><strong>Price: </h6></strong><%= number_to_currency(ol.food.price * ol.quantity) %></li>
          <% total_price +=  ol.food.price * ol.quantity %>
          <%# delete button %>
          <%= link_to "Delete",
                  order_lines_path(ol),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class: "delete-btn"
                %>
        <% end %>
      </ul>
    </div>
  <div class="cart-wrap-button">
    <div class="proceed">
      <%= link_to "Proceed to checkout",  order_path(@order), class: "proceed-btn-positive" %>
      <% end %>
    </div>
    <div class="continue">
      <%= link_to "Continue shopping", restaurants_path, class: "continue-btn-positive" %>
    </div>
  </div>
