<%= link_to '🡰', 'javascript:history.back()' %>

<h1 class="text-center">Cart</h1>

<% if @order.order_lines.empty? %>
  <p>Your cart is currently empty...</p>
<% else %>
  <div class="container">
    <ul>
      <% total_price = 0 %>
      <% @order.order_lines.each do |ol| %>
        <li><strong>Food Name: </strong><%= ol.food.name %></li>
        <li>
          <strong>Quantity:</strong>
          <%= link_to "-", order_lines_reduce_path(:id => ol), method: :post %>
          <%= ol.quantity %> <%= link_to "+", order_lines_add_path(:id => ol), method: :post %>

          </li>
        <li><strong>Description: </strong><%= ol.food.description %> </li>
        <li><strong>Price: </strong> <%= ol.food.price * ol.quantity%></li>
        <% total_price +=  ol.food.price * ol.quantity %>
        <%= link_to "Delete",
                order_lines_path(ol),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
      <% end %>
      <br>
      
      <%= link_to "Proceed to checkout",  orders_path(total_price: total_price), data: { turbo_method: :post } %>

    </ul>
  </div>
<% end %>

<%= link_to "Continue shopping", restaurants_path %>
