<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "www-logo.png", alt: "Logo", class: "logo-img" %>
</div>

<h1 class="text-center">Your Cart</h1>

<% if @order.order_lines.empty? %>
  <p>Your cart is currently empty...</p>
<% else %>
  <div class="container">
    <ul>
      <% total_price = 0 %>
      <% @order.order_lines.each do |ol| %>
        <li><strong>Food Name: </strong><%= ol.food.name %></li>
        <li>
          <% if ol.food.photo.attached? %>
            <%= cl_image_tag ol.food.photo.key, height: 120, width: 100, crop: :fill, class: "food-img" %>
          <% end %>
        </li>
        <li>
          <strong>Quantity:</strong>
          <%= link_to "-", order_lines_reduce_path(:id => ol), method: :post %>
          <%= ol.quantity %> <%= link_to "+", order_lines_add_path(:id => ol), method: :post %>
          </li>
        <li><strong>Description: </strong><%= ol.food.description %> </li>
        <li><strong>Price: </strong><%= number_to_currency(ol.food.price * ol.quantity) %></li>
        <% total_price +=  ol.food.price * ol.quantity %>
        <%= link_to "Delete",
                order_lines_path(ol),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
      <% end %>
      <br>

      <%= link_to "Proceed to checkout",  order_path(@order) %>

    </ul>
  </div>
<% end %>

<%= link_to "Continue shopping", restaurants_path %>
