
<%= render "shared/top_nav" %>

<h1 id="your-cart">Your Cart</h1>
<% if @order.order_lines.empty? %>
  <p class="empty-cart text-center">Your cart is currently empty...</p>
  <p class="empty-text">You must add some products to your cart before checking out</p>
  <div class="cart">
    <%= image_tag "https://cdn-icons-png.flaticon.com/512/2038/2038854.png", alt: "empty-cart", class: "empty-cart-icon" %>
  </div>
<% else %>

  <% total_price = 0 %>
  <% @order_sorted.each do |ol| %>
  <div class="cart-item-container">
  <ul id="cart-food-infos">
    <li>
      <% if ol.food.photo.attached? %>
        <%= cl_image_tag(ol.food.photo.key, width:70, height:70, class: "cart-food", crop: :fill, gravity: :center) %>
      <% end %>
    </li>
    <li class="cart-text"><h6 style="color: #f3844c"><strong>Food Name: </h6></strong><h6 style="color: #789d67"><%= ol.food.name %></h6></li>
    <li class="cart-text"><h6 style="color: #f3844c">
      <strong>Quantity: </h6></strong>
      <%= link_to order_lines_reduce_path(:id => ol), class: "minus", method: :post do %>
        <i class="fa-solid fa-minus"></i>
      <% end %>
      <%= ol.quantity %> <%= link_to order_lines_add_path(:id => ol), class: "plus", method: :post do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </li>
    <li class="cart-text"><h6 style="color: #f3844c"><strong>Description: </h6></strong><%= ol.food.description %> </li>
      <div class="delete">
    <li class="cart-text"><h6 style="color: #f3844c"><strong>Price: </h6></strong><%= number_to_currency(ol.food.price * ol.quantity) %></li>
        <%= link_to order_lines_path(ol), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this item?"}, class: "delete-btn" do %>
          <i class="fa-solid fa-trash-can" style="color: #ff0000;"></i>
        <% end %>
      </div>
    <% number_to_currency(total_price +=  ol.food.price * ol.quantity) %>
  </ul>
  </div>
<% end %>

<div id="total">
  <h6 class="total">Total price:  </h6><h6 class="total" style="color: #f3844c"><%= number_to_currency(total_price) %></h6>
</div>

<div class="cart-wrap-button">
  <div class="proceed">
    <%= link_to "Proceed to checkout",  order_path(@order), class: "proceed-btn-positive" %>
    <% end %>
  </div>
  <div class="continue">
    <% if @order.restaurant %>
      <%= link_to "Continue shopping", restaurant_path(@order.restaurant), class: "continue-btn-positive" %>
    <% else %>
      <%= link_to "Continue shopping", restaurants_path, class: "continue-btn-positive" %>
    <% end %>
    <% if @order.restaurant %>
      <%= link_to "Continue shopping", restaurant_path(@order.restaurant), class:"continue-btn-positive" %>
    <% else %>
      <%= link_to "Continue shopping", restaurants_path, class: "continue-btn-positive" %>
    <% end %>
  </div>
</div>
<br><br>
