<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "logo1.png", alt: "Logo", class: "logo-img" %>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>
<%# PREVIOUS ORDERS %>
<h1 class="text-center mt-5">Previous Orders</h1>

<div class="container">
  <% if @orders.any? %>
      <% @orders.each do |order| %>
        <div class="card">
          <div class="card-body">
            <%= link_to "Order #{order.id} : #{ordinalize(order.created_at.day)} #{order.created_at.strftime("%B %Y")}", order_path(order) %>
            <hr>
            <p class="card-text">Total Price: <%= number_to_currency(order.total_price) %></p>
            <% if order.restaurant %>
              <h5 class="card-title"><%= order.restaurant.name %></h5>
              <div class="btn">
                <%= link_to 'Place a Review', new_restaurant_review_path(restaurant_id: order.restaurant_id), class: 'button-secondary' %>
              </div>
            <% else %>
              <p class="card-text">Restaurant information unavailable</p>
            <% end %>

          </div>
        </div>
      <% end %>
  <% else %>
    <p>No Previous Orders</p>
  <% end %>
</div>
