<div class="container p-3">
  <h1>Authentication page</h1>
  <%= link_to "sign in as user",  new_user_session_path, class:"btn btn-primary"%><br>
  <%= link_to "sign up as user",  new_user_registration_path, class:"btn btn-primary"%><br>
  <hr>
  <%= link_to "sign in as restaurant", new_restaurant_session_path, class:"btn btn-primary" %><br>
  <%= link_to "sign up as restaurant", new_restaurant_registration_path, class:"btn btn-primary" %><br>
  <hr>

  <%= link_to "Log out", destroy_restaurant_session_path, data: {turbo_method: :delete}, class: "btn btn-primary" %>
</div>
