<h1>Edit <%= @food.name %>'s details</h1>

<div class="edit-form">
      <%= simple_form_for [@restaurant, @food], method: :patch do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :allergen %>
      <%= f.input :quantity %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"btn btn-success"%>
    <% end %>
</div>
