<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "logo1.png", alt: "Logo", class: "logo-img" %>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<h1 class="text-center mt-5">Edit <%= @food.name %>'s details</h1>

<div class="edit-form d-flex flex-column align-items-center">
  <%= simple_form_for @food, method: :patch do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :allergen %>
      <%= f.input :quantity %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"btn btn-success update-food"%>
  <% end %>
  <p class="text-center">or</p>
    <%# delete btn %>
  <div class="btn">
    <%#= link_to food_path(@food), data: { turbo_method: :delete }, style: "text-decoration: none" do %>
    <%# <h3 class="btn btn-danger">Delete this item</h3> %>
    <%# end %>
    <%= link_to "Delete this item", food_path(@food), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete #{ERB::Util.html_escape(@food.name)}?"}, class: 'button-negative' %>
  </div>
</div>
