<div class="search">
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angles-left" style="color: #F3844C;"></i>
<% end %></div>
<h1 class= "text-center mt-5">Restaurant's Menu</h1>
<%# <img src="/app/assets/images/logo1.png" alt=""> need to add logo %>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<div class="mt-3">
<%# show whole menu = unpublished ones here %>
  <% if restaurant_signed_in? %>
    <ul>
      <% @my_restaurant.foods.each do |food| %>
      <div class="food-card">
          <%# add icon %>
          <%= link_to published_restaurant_food_path(food.restaurant, food), data: { turbo_method: :patch } do %> <%# for published published_restaurant_path %>
              <%= image_tag "https://www.svgrepo.com/show/170952/add-button.svg", width: 20%>
                <% end %>
              <div class="card-product-infos">
                <% if food.photo.attached? %>
                  <%= cl_image_tag food.photo.key, height: 180, width: 150, crop: :fill %>
                <% else %>
                  <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <% end %>
                <div class="text-infos">
                  <li id="food-name"><%= food.name %> </li>
                  <li id="food-price"><%= number_to_currency(food.price) %> </li>
                  <li id="food-description"><%= food.description %> </li>
                  <li id="food-price">Quantity: <%= food.quantity %> </li>
                  <%# <li>Restaurant : <strong><%= food.restaurant.name%> </strong></li>

                  <%# edit icon %>
                  <br>
                  <%= link_to edit_food_path(food) do %>
                    <%= image_tag "https://w7.pngwing.com/pngs/944/137/png-transparent-pen-computer-icons-pen-angle-pencil-black-thumbnail.png", width: 20%>
                  <% end %>
                  <%# Button to view food (food show page) %>
                  <div class="card-footer text-center">
                    <%= link_to 'View', food_path(food), class: 'button-positive' %>
                  </div>
                </div>
              </div>
            </div>
      <br>
      <% end %>
    </ul>
  </div>

<%# USER (CUSTOMER) LOG-IN %>
<% elsif user_signed_in? %>
  <ul>
    <% @foods.each do |food| %>
      <div class="food-card">
        <div class="card-product-infos">
          <% if food.photo.attached? %>
            <%= cl_image_tag food.photo.key, height: 180, width: 150, crop: :fill %>
          <% else %>
            <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
            <div class="text-infos">
              <li id="food-name"><%= food.name %> </li>
              <li id="food-price"><%= number_to_currency(food.price) %> </li>
              <li id="food-description"><%= food.description %> </li>
              <li>Restaurant : <strong><%= food.restaurant.name %></strong></li>
              <br>
              <div class="btn">
                <%= link_to "add to cart", food_order_lines_path(food), data: { turbo_method: :post } %> <%# fix message%>
                <%#= link_to "add to cart", food_order_lines_path(food), data: { turbo_method: :post, turbo_confirm: "Are you sure you want to submit this form?" } %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
    <%# BUTTON: CONTINUE SHOPPING %>
    <div class="btn">
      <%= link_to 'Continue shopping', restaurants_path, class: 'btn-positive mt-3', data: {'turbo_confirm': "Are you sure you want to submit this form?" } %> <%# fix message%>
    </div>
  </ul>

<% end %>
