<%# food form %>
<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%= image_tag "logo1.png", alt: "Logo", class: "logo-img" %>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<div class="d-flex justify-content-center">
  <div class="form-wrap border border-warning m-5" style="width: 35rem;">
  <br>
  <h2 class="text-center dashboard-heading">Add food item to <%= @restaurant.name %>'s' menu</h2>

  <div class="form m-5 ml-5">
    <%= simple_form_for [@restaurant, @food] do |f| %>
      <%= f.input :name, placeholder: "Food Name"%>
      <%= f.input :price, placeholder: "Price" %>
      <%= f.input :description, placeholder: "Description" %>
      <%= f.input :allergen, placeholder: "allergen"%>
      <%= f.input :quantity, placeholder: "Quantity" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"btn btn-success"%>
    <% end %>
  </div>
</div>
</div>
<%# button %>
<div class="button-container">
  <div class="btn d-flex justify-content-center">
  <span ><%= link_to "Back to home", root_path, class: "button-positive" %></span>
    </div>
</div>
