<div class="d-flex justify-content-center">
  <div class="form-wrap border border-warning m-5" style="width: 35rem;">
  <br>
  <h2 class="text-center dashboard-heading">Add dog to listing</h2>

  <div class="form m-5 ml-5">
    <%= simple_form_for[@restaurant, @food] do |f| %>
      <%= f.input :food_name%>
      <%= f.input :food_price %>
      <%= f.input :food_description %>
      <%= f.input :allergen%>
      <%= f.input :food_quantity %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"btn btn-success"%>
    <% end %>
  </div>
  </div>
</div>
