<h1 class="text-center"> <%= @food.name %> details </h1>

<%# food item photo %>

<div class="detail-box d-flex justify-content-center">
<ul>
    <li>Name: <%= @food.name %></li>
    <li>Price: <%= @food.price %></li>
    <li>Description: <%= @food.description %></li>
    <li>Allergen: <%= @food.allergen%></li>
    <li>Quantity: <%= @food.quantity %></li>
</ul>
</div>

<%# <%= link_to list_path(list), class: 'nav-btn', data: { turbo_method: :delete } do %> %>
