<%# EACH CARD OF RESTUARANT %>
<%#= link_to '🡰', 'javascript:history.back()' %>
    <%= link_to restaurants_dashboard_path(restaurant) do %>
      <div class="card card-product restaurants-main-card">
        <div class="card-img">
          <h5 class="card-img-name"><%= restaurant.name %></h5>
          <% if restaurant.photo.attached? %>
            <%= cl_image_tag(restaurant.photo.key, class: "object-fit-cover-my-restaurant", crop: :fill, gravity: :face) %>
          <% else %>
            <p>No images available for <%= restaurant.name %></p>
          <% end %>
        </div>
        <%# float restaurant name and location onto image %>
        <%# <div class="mask d-flex justify-content-center align-items-center flex-column text-center rounded px-2 "> %>
          <%# <h5 class="card-img-overlay text-center"><%= restaurant.name</h5>  %>
          <%# <p class="card-img-overlay text-center"><%= restaurant.address</p>  %>
        <%# </div> %>

        <div class="overlay d-flex justify-content-center align-items-center flex-column text-center px-2">
          <div class="card-text-container">
            <p class="card-img-overlay text-center d-flex"><%#= restaurant.address %></p>
          </div>
        </div>
        <%# cuisine, rating, distance bottom of card image %>
        <div class="restaurant-card-info">
        <div class="cuisine">
          <p class="cuisine"><img id="food-icon" src="https://cdn-icons-png.flaticon.com/512/433/433087.png" alt="food-icon">  <%= restaurant.cuisine %></p>
        </div>
          <p class="text-center"><% restaurant.rating.to_i.times do %></p>
              <i class="fa-solid fa-star" style="color: #FFD43B; margin: 0px;"></i>
           <% end %>
        </div>
      </div>
    <% end %>
