 <%# EACH CARD OF RESTUARANT %>
    <%= link_to restaurant_path(restaurant) do %>
      <div class="card card-product restaurants-main-card">
        <div class="card-img">
          <% if restaurant.photo.attached? %>
            <%= cl_image_tag(restaurant.photo.key, width:200, height:200, class: "object-fit-cover", crop: :fill, gravity: :face) %>
          <% else %>
            <p>No images available for <%= restaurant.name %></p>
          <% end %>
        </div>
        <%# float restaurant name and location onto image %>
        <h5><%= restaurant.name %></h5>
        <p><%= restaurant.cuisine %></p>
        <%# cuisine, rating, distance bottom of card image %>
      </div>
    <% end %>
