<%= link_to '🡰', 'javascript:history.back()' %>
<%# SIGNED IN AS RESTAURANT %>
<%# SEARCH BAR? OR BUTTON? %>
<div class="search">
<h1 class="top-text">Welome to WHY WHY WASTE</h1>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
<form onsubmit="event.preventDefault();" role="search">
  <label for="search">Search for stuff</label>
  <input id="search" type="search" placeholder="Search..." autofocus required />
  <button type="submit">Go</button>
</form>
</div>

<%# RESTAURANT SIGN-IN %>
<% if restaurant_signed_in? %>

  <%# CURRENTLY SIGNED-IN RESTAURANT FOOD CARDS - random display %>
  <h3 class="index-head">My Food Items</h3>
<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "wrapAround": true }'>
  <% @my_restaurant.foods.shuffle.each do |food| %>
      <div class="carousel-cell">
    <div class="card restaurants-list">
      <div class="card-img-top">
        <% if food.photo.attached? %>
              <%= cl_image_tag(food.photo.key, width:220, height:170, class: "object-fit-cover", crop: :fill, gravity: :center) %>
            <% else %>
          <img class="restaurant-photo" src="https://img.delicious.com.au/MYhAwMVF/del/2023/01/sandoitchi-181514-1.jpg" alt="cafe-photo">
            <% end %>
            <div class="card-text">
              <p class="text-top"><%= food.name %></p>
              <p class="text">$ <%= food.price %></p>
              <p class="text">Qty: <%= food.quantity %></p>
              <p class="text"><%= food.description %></p>
            </div>
          </div>
          <%# float food name onto image %>
        </div>
  </div>
  <% end %>
</div>
  <hr>

  <%# CARDS OF RESTAURANTS %>
  <%# SIGNED-IN RESTAURANT ONLY %>
  <h3 class="text-center">My Restaurant</h3>
    <div class="container mx-auto container-signedin-restaurant">
      <div class="card signedin-restaurant">
        <% if @my_restaurant.present? %>
          <%= render 'restaurant_card', restaurant: @my_restaurant %>
        <% else %>
          <p>No signed-in restaurant found.</p>
        <% end %>
      </div>
    </div>

  <%# LIST OF OTHER RESTAURANTS %>
  <h3 class="index-head">List of available Restaurants</h3>
  <div class="container mx-auto card-container-restaurants">
    <% @other_restaurants.each do |restaurant| %>
      <%# EACH CARD OF RESTUARANT %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card card-product restaurants-main-card">
          <div class="card-img">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag(restaurant.photo.key, width:200, height:200, class: "object-fit-cover", crop: :fill, gravity: :face) %>
            <% else %>
              <%# <p>No images available for <%= restaurant.name %></p>
              <img class="restaurant-photo" src="https://img.delicious.com.au/MYhAwMVF/del/2023/01/sandoitchi-181514-1.jpg" alt="cafe-photo">
            <% end %>
          </div>
          <%# float restaurant name and location onto image %>
          <div class="mask d-flex justify-content-center align-items-center flex-column text-center rounded px-2 ">
            <h5><%= restaurant.name %></h5>
            <p class="text-center">Address: <%= restaurant.address %></p>
          </div>
          <%# cuisine, rating, distance bottom of card image %>
          <h5 class="text-center">Cuisine: <%= restaurant.cuisine %></h5>
          <div class="rating d-flex">
          <p class="text-center">Rating: <%= restaurant.rating.to_i.times do %></p>
              <i class="fa-regular fa-star fa-xs" style="color: #ffba24;"></i>
           <% end %>
           </div>
          <%# <p><%= restaurant.rating %></p>
          <%# <p><%= restaurant.distance</p> %>
        </div>
      <% end %>
    <% end %>
  </div>


<% elsif user_signed_in? %>

<%# SIGNED IN AS USER %>

  <%# FAVOURITE RESTAURANT CARDS %>
  <%# <h3>My Favourite Restaurants</h3> %>
  <%# <div class="container mx-auto fav-restaurants"> %>
    <%# <% @restaurants.each do |restaurant| %>
      <%# <div class="card fav-restaurant"> %>
        <%# <div class="card-img"> %>
          <%# <% if restaurant.photo.attached? %>
              <%# <%= cl_image_tag(restaurant.photo.key, width:100, height:100, class: "object-fit-cover", crop: :fill, gravity: :face) %>
            <%# <% else %>
              <%# <p>No images available for <%= restaurant.name</p>  %>
            <%# <% end %>
        <%# </div> %>
        <%# <h5><%= food.name</h5>  %>
        <%# <p><%= restaurant.cuisine</p>  %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>
  <%# <hr> %>

   <%# RESTAURANTS CARDS - random display %>
  <h3 class="index-head">My Favourite Restaurants</h3>
<!-- Flickity HTML init -->
<div class="carousel"
  data-flickity='{ "wrapAround": true }'>
  <% @restaurants.shuffle.each do |restaurant| %>
      <div class="carousel-cell">
    <div class="card restaurants-list">
      <div class="card-img-top">
        <% if restaurant.photo.attached? %>
          <%= cl_image_tag(restaurant.photo.key, width:220, height:170, class: "object-fit-cover", crop: :fill, gravity: :face) %>
        <% else %>
          <img class="restaurant-photo" src="https://img.delicious.com.au/MYhAwMVF/del/2023/01/sandoitchi-181514-1.jpg" alt="cafe-photo">
              <%# <p>No images available for <%= restaurant.name %>
        <% end %>
        <div class="card-text">
          <p class="text-top"><%= restaurant.name %></p>
          <p class="text"><%= restaurant.cuisine %></p>
          <p class="text"><%= restaurant.address %></p>
        </div>
          </div>
          <%# float food name onto image %>
        </div>
  </div>
  <% end %>
</div>

<br><br>
  <%# <div class="container mx-auto fav-restaurants row">
    <% @restaurants.shuffle.each do |restaurant| %>
      <%# <div class="col-sm-6 col-md-3 justify-content-center"> %>
        <%# <div class="card restaurants-list"> %>
          <%# <div class="card-img-top"> %>
            <%# if restaurant.photo.attached? %>
                <%#= cl_image_tag(restaurant.photo.key, width:200, height:150, class: "object-fit-cover", crop: :fill, gravity: :face) %>
            <%# else %>
            <%# <img class="restaurant-photo" src="https://img.delicious.com.au/MYhAwMVF/del/2023/01/sandoitchi-181514-1.jpg" alt="cafe-photo"> %>
              <%# <p>No images available for <%= restaurant.name %></p>
            <%# <% end %>
          <%# </div> %>
          <%# float food name onto image %>
          <%# <h5><%= restaurant.name %></h5>
          <%# <p><%= restaurant.cuisine %></p>
        <%# </div> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>

  <%# LIST OF ALL RESTAURANTS %>
  <h3 class="index-head">List of available Restaurants</h3>
  <div class="container mx-auto card-container-restaurants">
    <% @other_restaurants.each do |restaurant| %>
      <%# EACH CARD OF RESTUARANT %>
      <%= link_to restaurant_foods_path(restaurant) do %>
        <div class="card card-product restaurants-main-card">
          <div class="card-img">
            <% if restaurant.photo.attached? %>
              <%= cl_image_tag(restaurant.photo.key, width:200, height:200, class: "object-fit-cover", crop: :fill, gravity: :face) %>
            <% else %>
              <%# <p>No images available for <%= restaurant.name %></p>
              <img class="restaurant-photo" src="https://img.delicious.com.au/MYhAwMVF/del/2023/01/sandoitchi-181514-1.jpg" alt="cafe-photo">
            <% end %>
          </div>
          <%# float restaurant name and location onto image %>
          <p><%= restaurant.name %></p>
          <p><%= restaurant.cuisine %></p>
          <%# cuisine, rating, distance bottom of card image %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
