<div class="d-flex justify-content-center">
  <div class="form-wrap border border-warning m-5" style="width: 35rem;">
  <br>
  <h2 class="text-center dashboard-heading">Add a restaurant to listing</h2>

  <div class="form m-5 ml-5">
    <%= simple_form_for(@restaurant) do |f| %>
      <%= f.input :name%>
      <%= f.input :cuisine %>
      <%= f.input :address %>
      <%= f.input :phone_no %>
      <%= f.input :email %>
      <%= f.input :rating %>
      <%= f.input :pickup_start %>
      <%= f.input :pickup_end %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:"btn btn-success"%>
    <% end %>
  </div>
  </div>
</div>
