<%= render "shared/top_nav" %>
<%# RESTAURANT OWNER SIGNED IN %>
<% if restaurant_signed_in? %>
  <% if current_restaurant == @restaurant %>
    <h2 class="text-center">Food Items to be Published</h2>
    <br>
    <% if @published_foods.empty? %>
      <p class="text-center">Your menu is currently empty.</p>
      <p class="text-center">Please use "add more food item" button below to add menus for your restaurant</p>
    <% else %>
      <% @published_foods.each do |food| %>
        <div class="food-card">
          <%# add to cart link %>
          <%= link_to food_order_lines_path(food), data: { turbo_method: :post } do %>
            <%= image_tag "https://www.svgrepo.com/show/2087/plus.svg", width: 20%>
          <% end %>
          <div class="card-product-infos">
            <% if food.photo.attached? %>
              <%= cl_image_tag food.photo.key, height: 80, width: 80, crop: :fill %>
            <% else %>
              <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="text-infos-restaurants">
              <li id="food-name"><%= food.name %> </li>
              <li id="food-price"><%= number_to_currency(food.price) %> </li>
              <li id="food-description"><%= food.description %> </li>
              <%# edit icon %>
              <%= link_to edit_food_path(food) do %>
                <%= image_tag "https://w7.pngwing.com/pngs/944/137/png-transparent-pen-computer-icons-pen-angle-pencil-black-thumbnail.png", width: 20 %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <br>
    <div class="btn">
      <%#= link_to 'Add more food item', restaurant_foods_path(@restaurant), class: 'btn-positive' %>
      <%= link_to 'Publish', restaurants_path, class: 'btn-positive mt-3' , method: :patch, data: { turbo_confirm: 'Are you sure?' }%>
    </div>
    <br>
  <% else %>
    <% if @published_foods.empty? %>
      <p class="text-center">Currently there is no menu available</p>
    <% else %>
      <% @published_foods.each do |food| %>
        <div class="food-card">
          <div class="card-product-infos">
            <% if food.photo.attached? %>
              <%= cl_image_tag food.photo.key, height: 80, width: 80, crop: :fill %>
            <% else %>
              <img  style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="text-infos">
              <li id="food-name"><%= food.name %> </li>
              <li id="food-price">Price:<%= number_to_currency(food.price) %> </li>
              <li id="food-description">Quantity: <%= food.quantity %> </li>
              <li id="food-description">Description: <%= food.description%> </li>
                <%= link_to "Add to cart", food_order_lines_path(food), data: { turbo_method: :post }, class: "add-cart-btn" %>

                <%= link_to "Show full details", food_path(food) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<%# user log-in %>
<% elsif user_signed_in? %>
  <% if @published_foods.empty? %>
    <p class="text-center"><%= @restaurant.name %>'s menu is currently empty.</p>
    <p class="text-center">Please try a different restaurant by returning to the homepage</p>
  <% else %>
    <h3 class="choose-items"> Choose any food item below</h3>
    <% @published_foods.each do |food| %>
      <div class="food-card-user">
        <%# best seller IF ELSE STATEMENT %>
          <div class="show-bestseller">
            <% if food.bestseller? %>
            <div id="best-seller">
              best seller
              <i class="fa-solid fa-crown"></i>
            </div>
            <% end %>
          </div>
          <% if food.photo.attached? %>
            <%= cl_image_tag food.photo.key, height: 120, width: 100, crop: :fill, class: "food-img" %>
          <% else %>
            <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="w-100">
            <div class="text-infos">
              <li id="food-name"><%= food.name %> </li>
              <li id="food-price"><%= number_to_currency(food.price) %> </li>
              <li id="food-description"><%= food.description %> </li>
              <li id="food-description">Quantity: <%= food.quantity %> </li>
            </div>
            <div class="d-flex justify-content-end">
              <%= link_to "Show full details", food_path(food), class: "add-cart-btn" %>
              <%= link_to "Add to cart", food_order_lines_path(food), data: { turbo_method: :post }, class: "add-cart-btn" %>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<h3 class="text-center"><%= @restaurant.name %>'s details</h3>
<div class="restaurant-info-card">
  <ul>
      <li class="d-flex justify-content-start align-items-baseline"><div class="details">Restaurant name:</div> <%= @restaurant.name %> </li>
      <% if @restaurant.pickup_start && @restaurant.pickup_start %>
        <li class="d-flex justify-content-start align-items-baseline"><div class="details">Pickup time:</div><%= @restaurant.pickup_start.strftime(" %I:%M%p")%> to <%= @restaurant.pickup_end.strftime(" %I:%M%p")  %></li>
      <% end  %>
      <li class="d-flex justify-content-start align-items-baseline"><div class="details">Cuisine : </div> <%= @restaurant.cuisine %> </li>
      <li class="d-flex justify-content-start align-items-baseline"><div class="details">Phone no : </div><%= @restaurant.phone_no %> </li>
      <li class="d-flex justify-content-start align-items-baseline"><div class="details">Address :</div> <%= @restaurant.address %> </li>
      <%# <div class="d-flex"> %>
        <li class="d-flex justify-content-start align-items-baseline"><div class="details">Rating:</div> <% @restaurant.rating.to_i.times do %>
        <i class="fa-regular fa-star fa-xs" style="color: #ffba24;"></i>
        <% end %>
      </li>
    </div>
  </ul>
</div>


<h3 class="text-center">All reviews for <%= @restaurant.name %>:</h3>
  <div class="show-review-card">
    <% if @restaurant.reviews.empty? %>
      <p class="text-center">No reviews available</p>
    <% else %>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>"<%= review.content %>"</li>
          <li>From: <%= review.user.first_name%> <%= review.user.last_name%></li>
          <hr>
        <% end %>
      </ul>
    <% end %>
  </div>
<br><br><br><br>
