<h1 class="show-restaurant-title text-center">Welcome to <%= @restaurant.name %>'s Page</h1>

<div class="container restaurant-info">
  <ul>
      <li>Restaurant name : <%= @restaurant.name %> </li>
      <li>Cuisine : <%= @restaurant.cuisine %> </li>
      <li>Phone no : <%= @restaurant.phone_no %> </li>
      <li>Rating : <%= @restaurant.rating %> </li>
  </ul>
</div>
<hr>

<h3>Menu:</h3>

<%# IF STATEMENT - list items, else say its empty %>
<%# <div class="container"> %>
  <%# <div class="card food-items-card"> %>
  <%# list all food items %>
    <%# <% if @restaurant.foods.any? %>
      <%# <%= @restaurant.foods.each do |food| %>
      <%# <% end %>
    <%# <% else %>
      <%# <p>Your menu is empty</p> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>
