<h1 class="show-restaurant-title text-center mt-5">Welcome to <%= @restaurant.name %>'s Page</h1>

<%# <ul class="restaurant-show">
    <li>Restaurant name : <%= @restaurant.name %> </li>
    <%# <li>Cuisine : <%= @restaurant.cuisine %> </li>
    <%# <li>Phone no : <%= @restaurant.phone_no %> </li>
    <%# <li>Rating : <%= @restaurant.rating %> </li>
  <%# <br> %>
<%# </ul> %>



  <h2 class="text-center">Menu : </h2>
    <% @restaurant.foods.each do |food| %>
      <div class="food-card">
        <div class="card-product-infos">

          <%# <%= cl_image_tag food.photo.key, height: 180, width: 150, crop: :fill %>
          <% if food.photo.attached? %>
            <%= cl_image_tag food.photo.key, height: 180, width: 150, crop: :fill %>
          <% else %>
            <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <% end %>
          <div class="text-infos">
          <li id="food-name"><%= food.name %> </li>
          <li id="food-price">$<%= food.price %> </li>
          <li id="food-description"><%= food.description %> </li>
          <img id="edit-icon"style="width: 20px" src="https://w7.pngwing.com/pngs/944/137/png-transparent-pen-computer-icons-pen-angle-pencil-black-thumbnail.png">
          </div>
        </div>
      </div>
    <% end %>
    <br>
<div class="btn">
<%= link_to 'Add more food item', new_restaurant_food_path(@restaurant), class: 'btn-positive' %>
<%= link_to 'Confirm list', new_restaurant_food_path(@restaurant), class: 'btn-positive mt-3' %>
</div>
