<h1 class="show-restaurant-title text-center mt-5">Welcome to <%= @restaurant.name %>'s Page</h1>

<h2 class="text-center">Unpublished Food items</h2>
  <br>
    <% if @unpublished_foods.empty? %>
      <p class="text-center">Your menu is currently empty.</p>
      <p class="text-center">Please use "add more food item" button below to add menus for your restaurant</p>
    <% else %>
      <% @unpublished_foods.each do |food| %>
        <div class="food-card">
      <%# add icon %>
      <%#= link_to foods_path do %>
          <%#= image_tag "https://www.svgrepo.com/show/2087/plus.svg", width: 20%>
            <%# end %>
          <div class="card-product-infos">

            <% if food.photo.attached? %>
              <%= cl_image_tag food.photo.key, height: 80, width: 80, crop: :fill %>
            <% else %>
              <img style="width: 150px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="text-infos">
              <li id="food-name"><%= food.name %> </li>
              <li id="food-price">$<%= food.price %> </li>
              <li id="food-description"><%= food.description %> </li>
              <%# edit icon %>


              <%= link_to edit_food_path(food) do %>

                <%= image_tag "https://w7.pngwing.com/pngs/944/137/png-transparent-pen-computer-icons-pen-angle-pencil-black-thumbnail.png", width: 20%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
<br>
<div class="btn">
<%= link_to 'Add more food item', new_restaurant_food_path(@restaurant), class: 'btn-positive' %>
<%= link_to 'Publish', restaurants_path, class: 'btn-positive mt-3' , method: :patch, data: { turbo_confirm: 'Are you sure?' }%>
</div>
<%# add "are you sure" %>
<br>

<h3 class="text-center"><%= @restaurant.name %>'s details</h3>
<div class="container restaurant-info">
  <ul>
      <li>Restaurant name : <%= @restaurant.name %> </li>
      <li>Cuisine : <%= @restaurant.cuisine %> </li>
      <li>Phone no : <%= @restaurant.phone_no %> </li>
      <div class="d-flex">
        <li class="d-flex text-center">Rating: <%= @restaurant.rating.to_i.times do %></p>
          <i class="fa-regular fa-star fa-xs" style="color: #ffba24;"></i>
        <% end %></li>
      </div>
  </ul>
</div>
<hr>



<%# IF STATEMENT - list items, else say its empty %>
<%# <div class="container"> %>
  <%# <div class="card food-items-card"> %>
  <%# list all food items %>
    <%# <% if @restaurant.foods.any? %>
      <%# <%= @restaurant.foods.each do |food| %>
      <%# <% end %>
    <%# <% else %>
      <%# <p>Your menu is empty</p> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>

<h3 class="text-center">All reviews for <%= @restaurant.name %>:</h3>
<div class="review-card">

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>"<%= review.content %>"</li>
    <li>From: <%= review.user.first_name%> <%= review.user.last_name%></li>
  <% end %>
</ul>
</div>
<br>
