<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%# <h1 class="top-text">WHY WHY WASTE</h1> %>
<h1 class="text-center"><%= @restaurant.name %> notifications</h1>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<%# take infos from orders table %>

<% current_restaurant.notifications.each do |notification| %>
  <% order = notification.order %>
  <div class="notification-card mt-3 ">
    <div class="notfication-text">
      <p>Customer: <%= order.user.first_name %> <%= order.user.last_name %></p>
      <p>Order status: <%= order.status %></p>
      <p>Total: $ <%= order.total_price %></p>
      <p>Collection time: <%= current_restaurant.pickup_start.strftime(" %I:%M%p") %> - <%= current_restaurant.pickup_end.strftime(" %I:%M%p") %></p>

      <%# Display all food items for this restaurant in the order %>
      <ul>
        <% order.order_lines.each do |order_line| %>
          <% if order_line.food.restaurant == current_restaurant %>
            <%# Display information about food and order_line here %>
            <li><%= order_line.food.name %> x<%= order_line.quantity %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%#= link_to 'Picked up!', restaurants_dashboard_path(@restaurant), method: :patch, class: 'btn-positive' %>
<%#= change status to DONE %>
