<div class="nav-top">
<%# go-back-icon %>
<div class="back"><%= link_to 'javascript:history.back()' do %>
<i class="fa-solid fa-angle-left"></i>
<% end %></div>
<%# <h1 class="top-text">WHY WHY WASTE</h1> %>
<h1 class="text-center"><%= @restaurant.name %> notifications</h1>
<%#= button_tag "Search", type: :button, onclick: "window.location.href = '#'", class: "button-negative" %>
</div>

<%# take infos from orders table %>

<% current_restaurant.notifications.each do |notification| %>
  <% order = notification.order %>
  <% total_price = order.order_lines.sum { |order_line| order_line.food.price * order_line.quantity } %>
  <div class="notification-card mt-3 ">
    <div class="notfication-text">
      <div class="notification d-flex"><p class="noti date"><p class="noti-orange">Sent on:   </p><%= order.created_at.strftime("%-d %B %Y") %></p></div>
      <div class="notification d-flex"><p class="noti customer"><p class="noti-orange">Customer: </p><%= order.user.first_name %>   <%= order.user.last_name %></p></div>
      <div class="notification d-flex"><p class="noti order"><p class="noti-orange">Order status: </p><%= order.status %></p></div>
      <div class="notification d-flex"><p class="noti collection"><p class="noti-orange">Collection time: </p><%= current_restaurant.pickup_start.strftime(" %I:%M%p") %> - <%= current_restaurant.pickup_end.strftime(" %I:%M%p") %></p></div>
      <div class="notification d-flex"><p class="noti total"><p class="noti-orange">Total: $ </p><%= number_with_precision(total_price, precision: 2) %></p></div>
      <%# Display all food items for this restaurant in the order %>
      <div class="notification d-flex"><ul class="noti food-items text-center"><p class="noti-orange">Food items: </p>
        <% order.order_lines.each do |order_line| %>
          <% if order_line.food.restaurant == current_restaurant %>
            <%# Display information about food and order_line here %>
            <li>- <%= order_line.food.name %>  x  <%= order_line.quantity %></li>
          <% end %>
        <% end %></div>
      </ul>
    </div>
  </div>
<% end %>
<br><br><br>
<%#= link_to 'Picked up!', restaurants_dashboard_path(@restaurant), method: :patch, class: 'btn-positive' %>
<%#= change status to DONE %>
