<!DOCTYPE html>
<html>
  <head>
    <title>WhyWhyWaste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# flickity %>
    <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <%= javascript_importmap_tags %>

    <%# Mapbox  %>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script id="search-js" defer src="https://api.mapbox.com/search-js/v1.0.0-beta.18/web.js"></script>
    <script>
    const accessToken = '<%= ENV["MAPBOX_API_KEY"] %>';

    const script = document.getElementById('search-js');
    script.onload = function() {
      const autofill = mapboxsearch.autofill({
        accessToken
      });

      autofill.addEventListener('retrieve', async (event) => {
        const fullAddress = event.detail.features[0].properties.full_address;

        event.target.value = await fullAddress;
      });

    };
    </script>


  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar"%>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/path/to/flickity.pkgd.min.js"></script>
  </body>
</html>
